<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style_create_link.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="../scripts/form_link.js" defer></script>
    <title>MyLinks - add link</title>
</head>
<body>
    <div id="content">
        <div id="form_content">
            <form action="index.html" id="create_link">
                <div id="input_links">
                    <label for="title">Título:</label><br>
                    <input type="text" id="title" name="title" required><br>
                    <label for="link">Link:</label><br>
                    <input type="text" id="link" name="link" required><br>
                </div>
                <div id="save_button">
                    <button type="submit" form="create_link">Salvar Link</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>