<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="../scripts/app.js" defer></script>
    <title>MyLinks</title>
</head>
<body>
    <div id="main-content">
        <div id="profile">
            <img src="https://avatars.githubusercontent.com/u/18404421?v=4" alt="Foto Perfil">
            <h2>Pablo Strapasson</h2>
            <h3>My Links:</h3>
        </div>
        <div id="links">
            <a href="https://www.instagram.com/pablo_strapasson/" target="_blank">
                <img class="icon" src="../../public/icons/instagram.png" alt="instagram icon">
                <p>Intagram</p>
            </a>
            <a href="https://wa.me/5549984384944" target="_blank">
                <img class="icon" src="../../public/icons/whatsapp.png" alt="instagram icon">
                <p>Whatsapp</p>
            </a>
            <a href="https://www.facebook.com/pablo.strapasson" target="_blank">
                <img class="icon" src="../../public/icons/facebook.png" alt="instagram icon">
                <p>Facebook</p>
            </a>
            <a href="https://www.linkedin.com/in/pablo-strapasson-103359218/" target="_blank">
                <img class="icon" src="../../public/icons/linkedin.png" alt="instagram icon">
                <p>Linkedin</p>
            </a>
        </div>
    </div>
</body>
</html>